@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

.container {
    width: 90vw;
    margin: 0 auto;
}

:root {
    --color1: #b9f7f9;
    --color2: #3ce2ad;
    --color3: #363636;
}

a {
    text-decoration: none;
}

html,body {
    
    overflow-x: hidden;
}

.main {
    background-image: url(../img/lady.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/* header */
#header-section {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px 0;
}

#header-section .logo {
    width: 30%;
}

#header-section .menu-bar {
    width: 70%;
}

#header-section .menu-bar ul {
    list-style-type: none;
    display: flex;
    justify-content: flex-end;
}

#header-section .menu-bar ul li a {
    background: none;
    color: #000;
    font-weight: 300;
}

#header-section .menu-bar ul li {

    font-size: 17px;
    padding: 10px 20px;
    border-radius: 5px;
}

/* home */
#home {
    height: 500px;
}

.home-text h1 {
    padding: 155px 0 20px 0;
    font-size: 40px;
    color: var(--color3);

}

.home-text p {
    font-size: 14px;
    margin-bottom: 40px;
    color: #939393;
}

/* about */
#about {
    padding: 20px 0;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.boxs {
    display: flex;
    justify-content: space-evenly;
    margin: 0 20px 0 20px;
    align-items: center;
}

.about-box {
    width: auto;
    padding: 80px 40px 60px;
    background-color: var(--color1) !important;
    border-radius: 10px;
}

.center {
    background-color: #d4fdfe !important;
    width: auto;
    padding: 90px 50px 70px;
}

.about-box h2 {
    padding: 15px 0;
    color: #0078aa;
    font-size: 30px;
}

.about-box h4 {
    padding: 15px 0;
    color: var(--color3);
    font-size: 16px;
}

.about-box p {
    padding-bottom: 30px;
    color: var(--color3);
}

.about-box a {
    margin: 20px 0;
    padding: 15px 20px;
    border-radius: 50px;

    background: #ffffff;
    font-size: 15px;
    color: var(--color3);
}

.about-box a:hover {
    border: 2px solid var(--color2);
    background: var(--color1);
}

.about-two {
    width: 100%;
    margin: 20px;
    display: flex;
    justify-content: space-around;
}

.about-img,
.about-text {
    width: 50%;
    padding: 20px 0;
}

.about-img img {
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.big {
    color: var(--color3);
    font-weight: 600;
}

.about-text h1,
.Jenna-content h1 {
    color: var(--color3);
    font-size: 40px;
    font-weight: 300;
    margin-bottom: 25px;
}

.small {
    margin-bottom: 65px;
    color: #4a9fc3;
}

.para {
    width: 60%;
    color: #777777;
    margin-bottom: 90px;
}

.title {
    width: 70%;
}

.drop .title h3 {
    padding: 25px;
    background: var(--color2);
    color: #ffffff;
    font-weight: 500;
    border-radius: 5px;
}

.drop .title p {
    display: none;
}

/* help */
#help {
    background: url("img/Rectangle-827-copy-2.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    padding: 25px 0;
}

.help-content {
    display: flex;
    justify-content: center;
    text-align: center;
    flex-wrap: wrap;
    align-items: center;
    align-content: center;
}

.help-content .help-heading {
    padding: 20px 0;
}

.help-content .help-heading h3 {
    font-size: 35px;
    color: var(--color3);
    margin: 15px 0;
}

.help-content .help-heading p {
    font-size: 14px;
    color: var(--color3);
}

.help-box {
    width: 80%;
    margin: 20px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background: #fff;
    color: var(--color3);
}

.help-box .box {
    width: 30%;
    margin: 15px;
    padding: 15px;
    text-align: start;
}

.img-box {
    width: 80px;
    height: 50px;
    margin: 50px 0 20px 0;
    display: inline-block;
}

.fa-regular {
    font-size: 50px;
}

.box h4 {
    font-size: 19px;
    font-weight: 500;
    margin: 10px 0;
}

.box p {
    font-size: 15px;
    font-weight: 400;
}

/* Jenna */
#Jenna {
    width: 100%;
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.top-content {
    display: flex;

}

.Jenna-text {
    width: 50%;
    height: 100%;
    padding: 50px;
}

.Jenna-content {
    width: 100%;
    padding: 75px 0 0 105px;
}

.jenna-bold {
    font-size: 18px;
    font-weight: 500;
    color: var(--color3);
}

.jenna-p {
    width: 100%;
    margin: 20px 0 50px 0;
}

.Jenna-content a {
    padding: 15px 20px;
    background: var(--color2);
    color: #fff;
    border-radius: 50px;

}

.Jenna-content a:hover {
    border: 2px solid var(--color2);
    background: none;
    color: var(--color3);
    transition: 0.6s;
}

.Jenna-img {
    width: 50%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.Jenna-img img {
    width: 100%;
    height: 100%;
}

.bottom-content {
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 100px;
}

.num-box {

    width: 20%;
    padding: 25px;
    text-align: center;
}

.num-box h2 {
    font-size: 50px;
    color: var(--color3);
    margin: 20px 0 10px 0;
}

.num-box p {
    font-size: 17px;
    color: var(--color3);
    margin: 20px 0 10px 0;
}

.bar {

    display: flex;
    justify-content: center;
}

.space {
    width: 30px;
    height: 2px;
    background: var(--color2);
}

/* Special */
#special {
    background: url(../img/BG.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    text-align: center;
}

#special h2 {
    margin: 20px 0;
    color: var(--color3);
    font-size: 30px;
}

#special p {
    margin: 0 0 20px 0;
}

.chart-card {
    display: flex;
    margin: 0 20px 0 20px;
    align-items: center;
    justify-content: center;
}

.cards {
    width: auto;
    padding: 90px 90px 70px;
    background-color: #d4fdfe !important;
    border-radius: 10px;
}

.centers {
    padding: 110px 90px 80px;
    background-color: #fff !important;
    border-radius: 10px;
}

.cards h1 {
    font-size: 30px;
    font-weight: 400;
    color: var(--color3);
    margin: 10px 0;
}

.cards .money {
    font-size: 60px;
    font-weight: 700;
    color: var(--color3);
    margin: 10px 0;
}

.cards .money .mark {
    font-size: 40px;
}

.treatments {
    font-size: 12px;
    font-style: italic;
    color: var(--color3);
    margin-bottom: 70px !important;
    color: #b2b2b2;
}

.info {
    margin: 20px 0 50px;
}

.info p {
    margin: 25px 0 !important;
    font-size: 13px;
    color: #b2b2b2;
}

.cards a {

    padding: 15px 25px;
    background: #fff;
    color: #000000;
    margin: 10px 0;
    border-radius: 50px;
}

.centers a {

    background-color: #0078aa;
    padding: 15px 25px;
    color: #fff;
    margin: 10px 0;
    border-radius: 50px;
}

.cards a:hover {
    border: 2px solid #0078aa;
    background: none;
    color: #000;
    cursor: pointer;
    transition: 0.5s;
}

/* Questions */
#Questions {
    width: 100%;
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
}

.part-one {
    width: 50%;
    padding: 50px 0 0 100px;
}


.part-one h2 {
    font-size: 45px;
    font-weight: 300;
    color: var(--color3);
}

.part-one h3 {

    font-size: 40px;
    font-weight: 600;
    color: var(--color3);
    margin-bottom: 40PX;
}

.part-one a {
    padding: 15px 25px;
    background: var(--color2);
    border-radius: 50px;
    color: #fff;
    border: none;
    font-size: 16px;
}

.part-one a:hover {
    border: 2px solid var(--color2);
    background: none;
    color: #000;
    cursor: pointer;
    transition: 0.5s;
}

.part-two {
    width: 50%;
}

.two-drop {
    width: 100%;
    padding: 50px 0 0 100px;
}

.down-aro {
    display: flex;
    width: 90%;
    align-items: center;
    justify-content: space-between;
}

.down-aro h3 {
    padding: 20px 0;
    font-weight: 400;
}

.two-title p {
    width: 80%;
    font-weight: 300;
    display: none;
}

/* contact */

.contact-part-one {
    background: #f4f4f4;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contact-info {
    padding: 60px 0;
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.contact-part {
    width: 25%;
    margin-bottom: 20px;
}

.contact-part h4 {
    font-size: 20px;
    color: var(--color3);
    padding-bottom: 5px;
}

.contact-part p {
    font-size: 15px;
    color: var(--color3);
}

.fa-solid,
.fa-regular {
    font-size: 30px;
    margin-bottom: 25px;
    color: var(--color3);
}

.contact-part-two {
    height: auto;
    display: flex;
    justify-content: center;
}

.part-two-card {
    width: 50%;
    padding: 20px;
    display: flex;
    align-items: center;
}

.part-two-card .part-cards {
    margin: 20px 5px;
    width: 50%;
    height: 600px;
    background: url(../img/Rounded-Rectangle-1202-copy-21.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    color: #fff;
    flex-direction: column;
}


.part-two-card .part-cards .post-card-one {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    margin-left: 50px;
}

.part-two-form {
    width: 50%;
}

.form-info {
    width: 100%;
    margin: 0 60px;
}

.form-heading {
    margin: 40px 0;
}

.form-heading h3 {
    font-size: 35px;
    padding: 15px 0;
    font-weight: 500;
    color: #777777;
}

.form-heading p {
    font-size: 14px;
    color: #6ab0cd;
}

.form-info input[type="text"],
.form-info input[type="email"],
.form-info input[type="tel"],
.form-info input[type="date"],
.dropdown {
    width: 70%;
    height: 45px;
    display: flex;
    padding: 5px;
    margin: 35px 0;
    border: none;
    border-bottom: 1px solid #777777;
    outline: none;
    color: #777777;
    font-size: 16px;
}

::placeholder {
    font-size: 14px;
    color: #777777;
}

.form-info a {
    padding: 15px 25px;
    background: var(--color2);
    border-radius: 50px;
    color: #fff;
    border: none;
    font-size: 16px;
}

.form-info a:hover {
    border: 2px solid var(--color2);
    background: none;
    color: #000;
    cursor: pointer;
    transition: 0.5s;
}

.post-card-two {
    margin: 35px 0;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.post-card-two h4 {
    font-size: 35px;
    font-weight: 300;
}

.post-card-two p {
    width: 70%;
    font-size: 16px;
    font-weight: 200;
    margin-right: 12px;
}

img {
    margin-bottom: 20px;
}

/* footer */
#footer {
    background: #1c1c1c;
    color: #fff;
}

.footer-part {
    display: flex;
    padding: 60px 0;
}

.footer-content {
    width: 35%;
}

.footer-content h3 {
    font-size: 22px;
    margin-bottom: 23px;
}

.footer-content p {
    padding-right: 30px;
}


.img-profile {
    display: flex;
}

.img-profile img {
    width: 80px;
    height: 80px;
    border-radius: 50px;
}

.img-profile a {
    text-decoration: none;
    color: #fff;
}

.footer-content .fp {
    padding: 20px;
}

.address-part .fa {
    font-size: 22px;
    color: #b2b2b2;
}

.fip {
    padding-left: 20px;
}

.address-part {
    display: flex;
}